.dh-logo {
	height: 30px;
	margin-top: -8px;
}

.dh-test-body {
	background-color: #E7EEF6;
}

.dh-test-body p {
	text-indent: 2em;
}

.dh-test-body h1 {
	text-align: center;
	position: relative;
	color: #337ab7;
}

.dh-footer {
	width: 100%;
	background-color: #0D1735;
	height: 30px;
}

.dh-footer p {
	text-align: center;
	margin: 0;
	padding: 5px;
	color: white;
}

.dh-footer a {
	color: white;
}

@media (min-width: 1200px) {
	.dh-navbar {
		margin-bottom: 0;
	}
	.dh-nav {
		margin-left: 180px;
	}
	.dh-nav li {
		margin-left: 30px;
	}
	.dh-nav li.active:after {
		position: absolute;
		bottom: -1px;
		width: 0;
		height: 0;
		left: 50%;
		margin-left: -10px;
		content: " ";
		border-bottom: 10px solid #337ab7;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
	}
	.dh-top-img {
		height: 300px;
		width: 100%;
	}
	.dh-test-body p {
		margin: 0 150px;
		line-height: 200%;
		letter-spacing: 3px;
		font-size: 15px;
		padding-bottom: 80px;
	}
	.dh-test-body h1 {
		margin: 50px 0;
	}
	.dh-over {
		position: absolute;
		top: -10px;
		bottom: -10px;
		left: 50%;
		width: 16%;
		margin-left: -8%;
		border: 1px solid #337ab7;
		border-width: 1px 0;
	}
	.dh-offcanvas {
		position: relative;
		height: 100%;
		padding: 0;
		background-color: #B9B9B9;
	}
	.dh-offcanvas a {
		color: white;
	}
	.dh-offcanvas-bar:after {
		background: #B9B9B9;
	}
	.dh-main-menu {
		position: absolute;
		top: 30%;
		width: 100%;
		list-style: none;
		padding: 0;
	}
	.dh-main-menu > li {
		position: relative;
		text-align: center;
		text-transform: uppercase;
		font-size: 20px;
		line-height: 16px;
		margin: 30px;
	}
	.dh-main-menu > li .dh-menu-over {
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
		position: absolute;
		top: -15px;
		bottom: -16px;
		left: 50%;
		width: 0%;
		margin-left: 0%;
		border: 1px solid #fff;
		border-width: 1px 0;
	}
	.dh-main-menu > li:hover .dh-menu-over {
		width: 30%;
		margin-left: -15%;
	}
	.dh-main-menu a:hover {
		color: #fff;
		text-decoration: none;
	}
}